//Header
.header {
  border-bottom: 1px solid $borders-gray;
}

.logo {
  flex: 0 0 auto;
  max-height: 70px;
}

//Main-menu
.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  background: $white;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 5px;

    a {
      padding: 11px 15px;
      text-decoration: none;
      display: block;
    }

    &.active,
    &:hover {
      background: $button-blue;

      a {
        color: $white;
      }
    }
  }

  &.header-menu {
    padding: $col-padding 0;
  }
}

//News
.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$col-padding};
}

.news-item {
  padding: 2*$col-padding;
  margin: $col-padding;
  flex-basis: calc(33.333% - #{2*$col-padding});
  border: 1px solid $borders-gray;
  box-sizing: border-box;

  &__img {
    img {
      @include resize-img();
    }
  }
}

//Footer
.footer {
  padding: 10px 0;
  border-top: 1px solid $borders-gray;
}

.copy {
  padding: 11px 0;
}

// Modal
.modal-backdrop {
  &.in {
    opacity: 0.9;
  }

  &-red {
    background-color: $red;
  }

  &-green {
    background-color: $green;
  }

  &-blue {
    background-color: $blue;
  }
}

//Responsive
@include tablet {
  //News
  .news-item {
    flex-basis: calc(50% - #{2*$col-padding});
  }
}

@include mobile {
  //Main menu
  .main-menu {
    display: block;

    &.header-menu {
      display: none;
    }

    &.footer-menu {
      li {
        display: block;
        text-align: center;
      }
    }

    &.open {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 101px;
      z-index: 1;
      box-shadow: 0 15px 70px #c3cbd6;
      padding: $col-padding;
    }
  }
  //News
  .news-item {
    flex-basis: 100%;
  }
  //footer
  .copy {
    text-align: center;
    width: 100%;
    order: 2;
  }
}
