//Colors
$green: #459d27;
$blue: #3c7cc8;
$red: #f12331;
$button-blue: #169bd5;
$white: #ffffff;
$borders-gray: #999999;
$bg-gray: #f1f3f6;
$main-text: #333333;
$blue-hover: #286090;

//Fonts
$openlight: "OpenSansLight", Arial, sans-serif;
$openreg: "OpenSansRegular", Arial, sans-serif;
$openbold: "OpenSansBold", Arial, sans-serif;
$opensemi: "OpenSansSemibold", Arial, sans-serif;
$font-size: 14px;
$line-height: $font-size*1.25;

//Spaces
$col-padding: 15px;

//Responsive
$desktop: 1288px;
$tablet: 1024px;
$mobile: 767px;
